h1{
    color: white;
}

.grid{
    display: flex;
}

#left{
     background-color: #eaeaea;
     width: 30%;
     
}

#right{
    background-color: white;
    width: 70%;
}

.input-group{
    width: 90%;
    padding: 10px;
}

.list-group{
    padding: 10px;
}

.jumbo{
    padding: 10px;
}

.cards{
    display: flex;
}

.card{
    margin: 5px;
}

.main-weather{
    height: 300px;
    margin: 1px;
    border-color: blue;
    border: 1px solid #dadada;
    border-radius: 15px;
    margin: 10px;
}

li{
    margin: 10px;
}

.basic-temp{
    margin: 10px 10px;
    padding: 40px 5px;
    padding-top: 5px;
}

h2{
    margin: 10px 20px;
}

.list-group-item{
    border-radius: 10px;
}

#city-name{
    text-transform: capitalize;
}
.list-group-item{
    text-transform: capitalize;
}

.card-img{
    height: 60px;
    width: 60px;
}

li{
    list-style-type: none;
}

#uv-index{
    display: flex;
}

#uv-num{
    background-color: #ffc107;
    margin-left: 5px;
    padding: 3px;
    border-radius: 7px;
}

#main-img{
  
    width: 100px;
    height: 100px;
}



